<table border="1">
    <tr>
        <th>ID</th>
        <th>Plate Number</th>
        <th>Category</th>
        <th>Status</th>
        <th>Time</th>
    </tr>

    {% for log in logs %}
    <tr>
        <td>{{ log[0] }}</td>
        <td>{{ log[1] }}</td>
        <td>
            {% if log[2] == 'Student' %}
            🟢 Student
            {% else %}
            🔴 Visitor
            {% endif %}
        </td>
        <td>{{ log[3] }}</td>
        <td>{{ log[4] }}</td>
    </tr>
    {% endfor %}
</table>