<!DOCTYPE html>
<html>

<head>
    <title>Vehicle Registration</title>
</head>

<body>

    <h1>Vehicle Registration</h1>

    <form method="POST">

        Student Name:
        <input type="text" name="student_name"><br><br>

        Student ID:
        <input type="text" name="student_id"><br><br>

        Plate Number:
        <input type="text" name="plate_number"><br><br>

        Vehicle Type:
        <input type="text" name="vehicle_type"><br><br>

        <button type="submit">
            Register Vehicle
        </button>

    </form>

</body>

</html>